<footer>

    <div class="footer_container">

        <div class="container__item">

            <ul>
                <li> <a href="www.adalab.es" title="ARTICLES">articles</a></li>
                <li> <a href="www.adalab.es" title="BOOKS">books</a></li>
                <li> <a href="www.adalab.es" title="EVENTS">events</a></li>
                <li> <a href="www.adalab.es" title="REASONS">reasons</a></li>
                <li> <a href="www.adalab.es" title="TIPS">tips</a></li>

            </ul>

        </div>

        <div class="container__item">

            <ul>
                <li> <a href="www.adalab.es" title="TWITTER">twitter</a></li>
                <li> <a href="www.adalab.es" title="INSTAGRAM">instagram</a></li>
                <li> <a href="www.adalab.es" title="MASTODON.SOCIAL">mastodon.social</a></li>

            </ul>

        </div>


        <div class="footer-rights">

            <p class="footer-rights__text" @2017></p>

        </div>

        <div class="corazon">we ❤︎ components;</div>


        <div class="ico-arrow">

            <a title="arrow" href="#"><img src="./assets/images/ico-arrow.svg"></a>

        </div>

    </div>

</footer>