<footer class=footer>


    <a class="arrow-button" title="arrow" href="#hero"><img src="./assets/images/ico-arrow.svg"></a>


    <div class="footer__container">

        <div class="container__item1">

            <div class="links1">

                <ul>
                    <li> <a href="http://www.adalab.es" title="ARTICLES">articles</a></li>
                    <li> <a href="http://www.adalab.es" title="BOOKS">books</a></li>
                    <li> <a href="http://www.adalab.es" title="EVENTS">events</a></li>
                    <li> <a href="http://www.adalab.es" title="REASONS">reasons</a></li>
                    <li> <a href="http://www.adalab.es" title="TIPS">tips</a></li>
                </ul>

            </div>

            <div class="links2">

                <ul>
                    <li> <a href="http://www.adalab.es" title="TWITTER">twitter</a></li>
                    <li> <a href="http://www.adalab.es" title="INSTAGRAM">instagram</a></li>
                    <li> <a href="http://www.adalab.es" title="MASTODON.SOCIAL">mastodon.social</a></li>

                </ul>

            </div>
        </div>

        <div class="container__item2">

            <div class="rights">©2017</div>

            <div class="love">we <span class="heart">❤︎</span> components </div>

        </div>

    </div>

</footer>