<hero>
   <did class="hero__container">

        <a class="menu-container" href="http://www.adalab.es" title="menu">
            <img src="./assets/images/ico-menu.svg" alt="menu-hero" title="menu">
        </a>

        <div class="hero">
            <h1 class="title-hero">anonimus proxy</h1>
            <h2 class="content-hero">"In hac habitasse platea dictumst"</h2>
        </div>

        <a class="ico-container" href="#" title="s">
            <img src="./assets/images/ico-scroll-down.svg" alt="" title="">
        </a>
        
   </did>

</hero>