<hero class="hero" id="hero">

    <a class="menu-container" href="http://www.adalab.es" title="menu">
        <img src="./assets/images/ico-menu.svg" alt="menu-hero" title="menu">
    </a>

    <div class="hero__text-container">

        <h1 class="hero__title">anonimous proxy</h1>
        <p class="hero__text">In hac habitasse platea dictumst.</p>
        <a class="hero__button" href="#main" title="">
            <img src="./assets/images/ico-scroll-down.svg" alt="" title="">
        </a>

    </div>

</hero>