<main>
    <div class="main_container">

        <a class="button__title" href="#">3 reasons to purchase</a>

        <div class="list">

            <div class="reasons">
                <h2 class="reasons__title">ut set metus</h2>
                <p class="reasons__text">Lorem ipsum dolor sit amet, consecteur.</p>
            </div>

            <div class="reasons">
                <h2 class="reasons__title">curabitur ac erat</h2>
                <p class="reasons__text">mauris mattis urna quis lorem molestie.</p>
            </div>

            <div class="reasons">
                <h2 class="reasons__title">morbi dictum</h2>
                <p class="reasons__text">aliquam in dolor et dolor tincidunt.</p>
            </div>

        </div>

        <a class="main__button" href="#">More reasons</a>

    </div>
</main>