
.advertising {

display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 15px;
   
}

.advertising__title2 {
color:#87CEEB;
font-size:14px;
text-transform: capitalize;
font-family: $textFontText;


}

.advertising__title1 {

color:#000000;
font-weight:bold;
text-transform: capitalize;
font-family:$textFontTitle;
font-size:24px;
margin-top: 10px;

}

.advertising__text {

color:#4a4a4a;
font-size:18px;
font-family:$textFontText;
line-height: 30px;
}

.advertising__button {
    
    width: 76px;
    height: 45px;
    color: $Button;
    font-family:$textFontText;
    background-color: transparent;
    border: solid 2px;
    border-radius: 22.5px;
    border-color: $Button;
    font-size: 20px;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;


    &:hover {

        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

}

}