.main_container{
    background-color: #eff9ff;
    width: 320px;
    height: 624px;
    align-items: center;
}


.list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px;

}
.button__title{
 
    font-family:$textFontThird;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 22.5px;


}

.reasons__title {
    font-weight: bold;
    font-size: 14px;
    font-family:$textFontThird;
}

.reasons__text {
    font: 18px;
    font-family:$textFontSecundary;
  
}

.main__button{
    
        color: white;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: $Button;
        padding: 10px;
        font-size: 20px;
        font-weight:$textFontFourth;
        width: 184px;
        height: 45px;
        border-radius: 22.5px;
}

