.main_container {
  background-color: #eff9ff;
  align-items: center;
  text-align: center;

  & .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    width: 184px;
    margin: 45px auto;

    @include tabletSize {
      width: 100%;
      grid-template-columns: 184px 184px 184px;
      grid-template-rows: 1fr;
      grid-gap: 0;
      justify-content: space-evenly;
    }

    & .reasons {
      line-height: 30px;

      & .reasons__title {
        font-weight: bold;
        font-size: 18px;
        font-family: $textFontTitle;
      }

      & .reasons__text {
        font-size: 18px;
        font-family: $textFontText;
      }
    }
  }

  & .main__title {
    font-family: $textFontTitle;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }

  & a {
    color: black;
    transition: background-color ease 0.8s;
    &:hover {
      background-color: blue;
    }
  }

  & .main__button {
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: $Button;
    padding: 10px;
    font-size: 20px;
    font-family: $textFontText;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
  }
}
