/*COLORS*/
$PrimaryText:white;
$Secundarytext:#000000;
$Button: #f26002;



/*FONTS*/
$textFontPrimary:'RobotoSlab';
$textFontSecundary:'Roboto';
$textFontThird:'RobotoSlab-Bold';
$textFontFourth:'Roboto-Medium';



/*BREAKPOINTS*/
$tablet:768px;
$pc:1200px;